html {
       background-color: antiquewhite;
     }
p {
font-family: papyrus, fantasy;
}
:root {
    text-align: center;
   }
h1{
     font-family: papyrus, fantasy;
   }
h2{
     font-family: papyrus,fantasy;
   }
img{
  width: 100px;
  height: 100px;
}
a {
       color: Blue;
}
